* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: black;
  padding: 1.5rem;
}

#header a.logo {
  font-size: 1.2rem;
}

#header a {
  text-decoration: none;
  color: white;
}

#menu a {
  padding: 1rem;
  margin: 0 0.25rem;
  transition: all 0.15s;
}

#hero {
  background-image: url("hero.jpg");
  height: 25rem;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero div {
  position: relative;
  top: 6rem;
  left: 5rem;
  width: 25rem;
  font-size: 1.7rem;
}

#hero div .button {
  position: relative;
  top: 0.5rem;
}

a.button {
  background-color: #cc0000;
  border: 2px solid white;
  padding: 0.3rem 1rem;
  color: white;
  transition: all 0.15s;
  font-size: 1.3rem;
}

a.button:hover {
  cursor: pointer;
}

#landing {
  display: flex;
  padding: 3rem;
  max-width: 100rem;
  margin: auto;
  flex-wrap: wrap;
}

#landing > div {
  position: relative;
  width: 44%;
  height: 20rem;
  -webkit-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.75);
  margin: 3%;
  transition: all 0.25s;
  cursor: pointer;
  background: url(https://via.placeholder.com/1000);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#landing > div:hover {
  -webkit-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.9);
}

#landing > div > div {
  position: absolute;
  left: 70%;
  top: 25%;
}

#landing > div > div > p {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

footer {
  background: black;
  padding: 1rem;
  color: white;
  text-align: center;
}
